#error-warnings {
    border: 1px solid #f00;
    padding: 5px;
    display: none;
}

.Task {
    align-items: center;
}

.Task>input {
    width: 30vw;
}

.Task>* {
    margin: .5rem 0rem .5rem 0rem;
}