table,
td {
    border: 1px solid black;
}

#yellow-container {
    background-color: yellow;
    padding: 10px;
}

#green-container {
    background-color: green;
    height: 200px;
    width: 100px;
    margin: 20px 0px 0px 0px;
    padding: 10px;
}

#yellow-container>img {
    width: 100%;
    height: 100%;
}

#hello-world-btn {
    width: 50px;
    margin-top: 20px;
}

#red {
    color: red;
}