table,
td {
    border: 1px solid black;
}

#YellowContainer {
    background-color: yellow;
    height: 200px;
    width: 100px;
    padding: 10px;
}

#GreenContainer {
    background-color: green;
    height: 200px;
    width: 100px;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

#YellowContainer>img {
    width: 100%;
    height: 100%;
}

#HelloWorldBtn {
    width: 50px;
    margin-top: 20px;
}

#red {
    color: red;
}


/* Füge hier die Regeln ein um die jeweiligen Elemente zu stylen */