#MoveContainerWrapper {
    flex: 1;
    position: relative;
}

#move-container {
    height: 50px;
    width: 50px;
    background-color: blue;
    border: solid 3px red;
    position: absolute;
    top: 0;
    left: 0;
}


/* 1. Füge dem Container #MoveContainer CSS-Eigenschaften hinzu. */